<template lang="pug">
    <div>
        <router-view></router-view>
        <toolbar></toolbar>
    </div>
</template>
<script>
  import ToolBar from './components/ToolBar.vue';
  export default {
    data: () => ({
    }),
    computed: { },
    mounted () { },
    methods: {
    },
    components: {'toolbar' : ToolBar}
  }
</script>
<style lang="scss">
    a{
        color: #383838;
        text-decoration: none;
    }
    body{
        width: 500px;
    }
    .main-content{
        padding: 0 20px 20px;
    }
</style>