<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>

  import LoginFirebase from './components/LoginFirebase.vue'
  import SignUpFirebase from './components/SignUpFirebase.vue'

  export default {
    data: () => ({
    }),
    computed: { },
    created () { },
    mounted () { },
    methods: { },
    components: {'login-firebase': LoginFirebase, 'signup-firebase': SignUpFirebase}
  }
</script>
<style>
</style>