<template>
    <div>
        <h3>Sign In</h3>
        <el-form :model="form" :rules="rules" ref="firebaseLogin">
            <el-form-item label="Email" prop="email">
                <el-input v-model="form.email"></el-input>
            </el-form-item>
            <el-form-item label="Password" prop="password">
                <el-input type="password" v-model="form.password"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="signIn">Connect</el-button>
            </el-form-item>
        </el-form>
        <p>Create an account ? <router-link to="/signup">here !</router-link></p>
    </div>
</template>

<script>
    import firebase from '../../backend/firebase.js'
    export default {
        name: 'login',
        data: () => ({
            form: {
                email: '',
                password: ''
            },
            rules: {
                email: [
                    { required: true, message: 'Please set an email', trigger: 'blur' },
                    { min: 3, max: 50, message: 'Not too much character plz', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: 'Do not forget your password', trigger: 'blur' },
                    { min: 5, max: 50, message: '5 to 50 char :)', trigger: 'blur' }
                ],
            }
        }),
        methods: {
            signIn: function(){
                firebase.auth().signInWithEmailAndPassword(this.form.email, this.form.password).then(
                    (user) => {
                        console.log('passouille');
                        let self = this;
                        chrome.storage.sync.set({'connectedUser': true}, function() {
                            self.$router.replace('options')
                        });
                    },
                    (err) => {
                        alert('nope error : ' + err.message)
                    }
                )
            }
        }
    }
</script>

<style scoped></style>