<template>
    <div>
        <el-alert
            title="You are now able to use the extension popup"
            type="success">
        </el-alert>
        <br/>
        <el-alert
            title="Some new features are incoming in this page"
            type="info">
        </el-alert>
        <br/>
        <el-button @click="logOut" icon="el-icon-close">Logout</el-button>
    </div>
</template>

<script>
    import firebase from '../../backend/firebase.js'
    export default {
        name: 'options',
        data: function () {
            return {
            }
        },
        created(){
            console.log('connected' ,firebase.auth().currentUser);
            
        },
        methods: {
            logOut: function () {
                firebase.auth().signOut().then(() => {
                    let self = this;
                    chrome.storage.sync.remove('connectedUser', function() {
                        self.$router.replace('login')
                    });
                })
            }
        }
    }
</script>

<style scoped></style>