<template>
    <div class="main-content">
        <h3> Adding a bookmark </h3>
        <el-form :model="bookmark" :rules="rules" ref="bookmarkForm">
            <el-form-item label="Bookmark label" prop="label">
                <el-input v-model="bookmark.label"></el-input>
            </el-form-item>
            <el-form-item label="Bookmark URL" prop="url">
                <el-input v-model="bookmark.url">
                    <template slot="prepend">Http://</template>
                </el-input>
            </el-form-item>
            <el-form-item label="Bookmark label" prop="category">
                <el-select v-model="bookmark.category" placeholder="Select">
                    <el-option
                    v-for="item in categories"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button @click="addBookmark('bookmarkForm')">Create</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
    import firebase from '../../backend/firebase.js'
    export default {
        name: 'addbookmark',
        data: () => ({
            bookmark : {
                label: '',
                url: '',
                category: '',
                nbclick: 0
            },
            categories: [{
                value: 'work',
                label: 'Work'
            }, {
                value: 'fun',
                label: 'Fun'
            }, {
                value: 'news',
                label: 'News'
            }, {
                value: 'nsfw',
                label: 'NSFW'
            }, {
                value: 'sports',
                label: 'Sports'
            }],
            rules: {
                label: [
                    { required: true, message: 'Please set a label', trigger: 'blur' },
                    { min: 3, max: 20, message: 'Not too much character plz', trigger: 'blur' }
                ],
                url: [
                    { required: true, message: 'Without url it is pointless', trigger: 'blur' },
                    { min: 3, max: 500, message: 'Not too much character plz', trigger: 'blur' }
                ],
                category: [
                    { required: true, message: 'Please select Activity zone', trigger: 'change' }
                ]
            }
        }),
        methods: {
            addBookmark (formName) {

                let self = this;

                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.bookmark.url = 'http://' + this.bookmark.url;
                        firebase.database().ref('bookmarks').push(this.bookmark);
                        this.bookmark.label = '';
                        this.bookmark.url   = '';
                        this.bookmark.category = '';

                        self.$refs[formName].resetFields();
                        self.$router.replace('bookmarks')
                        
                    } else {
                        return false;
                    }
                });
            }
        },
    }
</script>

<style lang="scss">
</style>