<template>
    <div class="main-content">
        <div v-if="connected" v-loading="loading">
            <div v-for="(category, catindex) in bookmarksSorted" :key="catindex" >
                <h3>{{ category.label|capitalize }}</h3>
                <div v-for="(bookmark, bookindex) in category.bookmarks" :key="bookindex" class="bookmark-content">
                    <el-badge :value="bookmark.nbclick" class="item">
                        <el-button size="small" @click="clickBook(bookmark, bookmark.nbclick+1)"><img :src="'https://s2.googleusercontent.com/s2/favicons?domain=' + bookmark.url" /> <span class="text-book">{{ bookmark.label }}</span></el-button>
                    </el-badge>
                </div>
            </div>
        </div>
        <div v-else>
            <el-alert
                class="alertbox"
                title=""
                type="info">
                You need to connect to use this application. <a @click="redirectPage('/pages/options.html')"> Click here to connect </a>.
            </el-alert>
        </div>
    </div>
</template>

<script>    
    
    import firebase from '../../backend/firebase.js'
    import { logicalExpression } from 'babel-types';

  export default {
    name: 'bookmarkmanager',
    firebase: {
        bookmarks: firebase.database().ref('bookmarks')
    },
    data() {
        return {
            categories: [
                {
                    label : 'work',
                    bookmarks: []
                },
                {
                    label : 'fun',
                    bookmarks: []
                },
                {
                    label : 'news',
                    bookmarks: []
                },
                {
                    label : 'nsfw',
                    bookmarks: []
                },
                {
                    label : 'sports',
                    bookmarks: []
                }
            ],
            bookmarks: [],
            connected: false,
            loading: true
        }
    },
    computed: { 
        bookmarksSorted(){
            
            firebase.database().ref('bookmarks').on('value', snapshot => this.bookmarks.push(snapshot.val()));

            this.categories.forEach((category) => {
                category.bookmarks = this.bookmarks.filter(bookmark => bookmark.category == category.label);

                category.bookmarks = category.bookmarks.sort(function (a, b) {
                    return b.nbclick - a.nbclick;
                });
            })

            if(this.bookmarks.length > 0){
                this.loading = false;
            }
            return this.categories;
        },
    },
    mounted () { 
        let self = this;

         chrome.storage.sync.get(['connectedUser'], function(result) {
            self.connected = result.connectedUser;
        });
    },
    methods: {
        clickBook (bookmark, nbclick) {
            firebase.database().ref('bookmarks').child(bookmark['.key']).child('nbclick').set(nbclick).then(res => {
                chrome.tabs.create({ url: bookmark.url });
            });
        }
    },
  }
</script>

<style lang="scss">
    a{
        cursor: pointer;
    }
    .alertbox{
        margin-top: 20px;
    }
    .bookmark-content{
        display: inline-block;
        margin: 5px 10px;
    }
    .text-book{
        vertical-align: text-top;
    }
    .el-collapse-item__content{
        padding-top: 5px;
    }
</style>