<template>
    <div class="toolbar">
        <div class="infoico">
            <img class="imgico" src="/icons/gitlab.png" @click="redirectPage('https://gitlab.com/Skape/awesome-ext.git')"/>
            <img class="imgico" src="/icons/max.png" @click="playSound('/mp3/duck.mp3')"/>
        </div>
        <div class="toolico">
            <router-link to="/addbook"><i class="el-icon-edit"></i></router-link>
            <router-link to="/bookmarks"><i class="el-icon-news"></i></router-link>
            <i @click="playSound('https://inception.davepedu.com/inception.mp3')" class="el-icon-delete"></i>
            <i @click="redirectPage('/pages/options.html')" class="el-icon-setting"></i>
        </div>
    </div>
</template>

<script>    
    
  export default {
    name: 'toolbar',
    data() {
        return {
        }
    },
    computed: { 
    },
    mounted () { 
    },
    methods: {
        playSound (sound) {
            if(sound) {
                var audio = new Audio(sound);
                audio.play();
            }
        }
    },
  }
</script>

<style lang="scss">
    body{
        margin: 0;
    }
    i{
        cursor: pointer;
    }
    .imgico{
        padding-left: 5px;
        cursor: pointer;
        height: 20px;
        text-align:left;
    }
    .toolbar{
        text-align: right;
        border-top: 1px solid #909399;
        padding: 5px;
    }
    .toolbar .infoico{
        float: left;
        text-align: left;
    }
    .toolbar .toolico{
        text-align: right;
    }
    .toolbar i{
        font-size: 20px;
        padding: 0px 5px;
    }
</style>