<template lang="pug">
    div devtools
</template>
<script>
  export default {
    data: () => ({
    }),
    computed: { },
    created () { },
    mounted () { },
    methods: { }
  }
</script>
<style lang="scss">
</style>